<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<div th:replace="header.html"></div>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <form th:action="@{/logout}" method="post" style="width: 23rem;">
        <div class="pt-1 mb-4">
            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-lg btn-block" type="submit">Log out</button>
        </div>
    </form>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
<table id="example" class="table table-bordered" style="width: 100%">
    <thead>
    <tr>
        <th>дата клика</th>
        <th>координата X(пиксели)</th>
        <th>координата Y(пиксели)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mousePosition : ${mousePositions}">
        <td th:text="${mousePosition.createdAt}" />
        <td th:text="${mousePosition.x}" />
        <td th:text="${mousePosition.y}" />
    </tr>
    </tbody>
</table>
        </div>
    </div>
</div>

<script>
    document.addEventListener("click", function(event) {
        // Get the X and Y coordinates relative to the page
        let x = event.pageX;
        let y = event.pageY;

        console.log("Mouse click position: X = " + x + ", Y = " + y);
        window.location = "/mouse/" + x + "/" + y;
    });
</script>

<div th:replace="footer.html"></div>